server:
  port: 8080

spring:
  application:
    name: auth-service
  
  datasource:
    url: jdbc:mariadb://${DB_HOST:mariadb}:3306/ticket_db
    username: root
    password: ${MARIADB_ROOT_PASSWORD:1234}
    driver-class-name: org.mariadb.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MariaDBDialect
    
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID:INSERT_YOUR_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET:INSERT_YOUR_CLIENT_SECRET}
            scope:
              - profile
              - email
          kakao:
            client-id: c92057d14d5c0642022472ece987dad7
            client-secret: 63JpZz7N3BZ5qsrCD7sGen98lm1NaMYu
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            client-name: Kakao
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize?prompt=login
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE:http://localhost:8761/eureka/}
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}

logging:
  level:
    org.springframework.security: DEBUG
