server:
  port: 8085

spring:
  application:
    name: payment-service

grpc:
  server:
    port: 9092
  client:
    ticket-server:
      address: static://localhost:9090
      negotiation-type: plaintext
