<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    <h1>로그인</h1>
    <div th:if="${param.error}">
        <p style="color: red;">아이디나 비밀번호가 맞지 않습니다.</p>
    </div>
    <div th:if="${param.logout}">
        <p style="color: blue;">로그아웃 되었습니다.</p>
    </div>

    <form th:action="@{/login}" method="post">
        <div><input type="text" name="username" placeholder="Email" required /></div>
        <div><input type="password" name="password" placeholder="Password" required /></div>
        <button type="submit">로그인</button>
    </form>

    <div style="margin-top: 20px;">
        <h3>Social Login</h3>
        <a href="http://localhost:8082/oauth2/authorization/google">
            <button style="background-color: #dd4b39; color: white;">Login with Google</button>
        </a>
        <a href="http://localhost:8082/oauth2/authorization/kakao">
            <button style="background-color: #FEE500; color: #000000;">Login with Kakao</button>
        </a>
    </div>
</body>

</html>